VITE_API_URL=http://localhost:5000/api
VITE_GOOGLE_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
VITE_VIETQR_BANK_ID=970432
VITE_VIETQR_BANK_NAME=VPBank
VITE_VIETQR_ACCOUNT_NO=0365193003
VITE_VIETQR_ACCOUNT_NAME=NGUYEN DANG MINH
